* {
    box-sizing: border-box;
}
body{
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
}

/*---Header Styles
-----------------------*/
header {
    height: 650px;
    background-image: linear-gradient(rgba(17,17, 17, 1), rgba(17,17, 17, .8)), url(../images/2.jpg);
    background-attachment: fixed;
}
.sidebar {
    width: 50px;
    height: 100%;
    background-color: rgb(46, 45, 45);
    float: left; 
}
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.links {
    padding-bottom: 40px;
}
.links > a.social {
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgb(246, 246, 246);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: auto;
    margin-top: 25px;
}
.links2 {
    display: none;
}
.links2 > a.social {
    text-align: center;
    text-decoration: none;
    color: rgb(246, 246, 246);
    float: left;
    margin-top: 0;
    margin-right: 10px;
}
.medium:hover i {
    color: #0be370;
}
.linkedin:hover i {
    color: #0077b5
}
.twitter:hover i {
    color: #55acee;
}
.github:hover i {
    color: white;
}
.behance:hover i {
 color: #1769ff;
}
@media (max-width: 800px) {
    .sidebar {
        display: none;
    }
    .links2 {
        display: inline-block;
    }
}
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}
.logo {
    margin-left: 70px;
    font-size: 1.5em;
    font-weight: 300;
    font-family: 'Gaegu', cursive;
    color: rgb(246, 246, 246);
}
.logo span {
    font-weight: 700;
}
.navigation {
    font-size: 1em;
    margin-right: 70px;
}
.navigation a {
    margin-left: 30px;
    text-decoration: none;
    color: rgb(237, 198, 97);
}
#me {
    color: rgb(246, 246, 246);
    max-width: 600px;
    margin: auto;
    margin-top: 100px;
    line-height: 1.4;
}
.intro {
    font-size: 1.6em;
    padding-bottom: 35px;
}
.about {
    font-size: 1.2em;
    font-weight: 300;
    opacity: .6;
}
.about a {
    color: rgb(237, 198, 97);
    text-decoration: none; 
}
@media (max-width: 1024px) {
    #me {
        margin: auto;
    }
}
@media (max-width: 600px) {
    #me {
        width: 90%;
        margin: 80px auto 0;
        line-height: 1.8;
    }
    .intro {
        font-size: 1.1em;
    }
    .about {
        font-size: 0.8em;
    }
    .navbar {
        width: 90%;
        margin: 0;
        
    }
    .logo {
        font-size: 1em;
        margin-left: 10px;
    }
    .navigation {
        font-size:0.8em;
        margin-right: 0;
    }
}
@media screen and (min-width:1441px) {
    .navbar {
        max-width: 1000px;
        margin: auto
    }
    .sidebar {
        display: none;
    }
    .links2 {
        display: inline-block;
    }
}

/*---Body Styles
-----------------------*/
section {
    background-color: rgb(246, 246, 246);
    padding-top: 72px;
    padding-bottom: 72px;
    transition-duration: 2s;
}
#work1, #work2 {
    height: 300px;
    display: flex;
    margin: auto;
}
#work2 {
    margin-left: 300px;
    margin-top: 50px;
}
.image {
    width: 600px;
    height: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.image img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    transition: all 5s ease-in;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
}
.copy {
    max-width: 300px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.copy a {
    text-decoration: none;
}

.worklink {
    background: rgba(17,17, 17, .7);
    text-align: center;
    position: absolute;
    bottom: -60px;
    right: 0;
    width: 100%;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(246, 246, 246);
    /* display: none; */
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
@media (min-width: 1024px) {
    .image:hover .worklink {
        -webkit-transform: translateY(-60px);
        -moz-transform:  translateY(-60px); 
        transform: translateY(-60px);
        display: inline;
    }
    .copy a {
        display: none;
    }
    #work1, #work2 {
        align-items: center;
    }
}

@media (max-width: 600px) {
    #work1, #work2 {
        display: block;
        max-width: 90%;
        height: auto;
        margin: auto;
    }
    .image, .copy {
        max-width: 90%;
        margin: auto;
    }
    .copy {
        font-size: 0.8em;
    }
    #work2 .copy {
        position: relative;
        top: 250px;
    }
    #work2 .image {
        position: relative;
        top:-120px;
    }
}
@media screen and (min-width: 450px) and (max-width: 600px) {
    #work1, #work2 {
        height: auto
    }
    #work2 .copy {
        position: relative;
        top: 320px;
    }
}
@media screen and (min-width: 601px) and (max-width: 1035px) {
    #work2 {
        margin: 50px auto;
    }
    .copy {
        width: 600px;
        margin-top: 0; 
    }
}
@media screen and (min-width: 1036px) {
    #work1, #work2 {
        max-width: 1000px;
        margin: 50px auto;
    }
}

/*---Footer Styles
-----------------------*/
footer {
    width: 100%;
    background-image: linear-gradient(rgba(17,17, 17, 1), rgba(17,17, 17, .8)), url(../images/2.jpg);
    background-attachment: fixed;
    padding-top: 24px;
    padding-bottom: 48px; 
    min-height: 150px;
    text-align: center;
    color: rgb(246, 246, 246);
}
.footer a {
    text-decoration: none;
    border: 1px solid white;
    padding: 16px;
    color: rgb(246, 246, 246);
    font-weight: bold;
}
.footer a:hover {
    background-color: rgb(246, 246, 246);
    color: rgb(46, 45, 45);
}
.footer p {
    margin-bottom: 45px;
    font-size: 1.2em;
}
@media screen and (min-width: 1036px) {
    .footer  {
        max-width: 1000px;
        margin: 50px auto;
    }
}
